In [ ]:
#importing the library needed and checking the version
import pandas as pd
import numpy as np

print(pd.__version__)

2.3.1

In [ ]:
#Loading the dataset
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [ ]:
#Q2. Records count
#How many records are in the dataset?
df.shape
print(len(df))

9704

In [ ]:
#Q3. Fuel types
#How many fuel types are presented in the dataset?
print(df["fuel_type"].nunique())

2

In [ ]:
#Q4. Missing values
#How many columns in the dataset have missing values?
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [ ]:
#Q5. Max fuel efficiency
#What's the maximum fuel efficiency of cars from Asia?
df['origin'].unique()
print(df[df['origin'] == 'Asia']['fuel_efficiency_mpg'].max())

23.759122836520497

In [ ]:
"""
Q6. Median value of horsepower
Find the median value of the horsepower column in the dataset.
Next, calculate the most frequent value of the same horsepower column.
Use the fillna method to fill the missing values in the horsepower column with the most frequent value from the previous step.
Now, calculate the median value of horsepower once again.
"""
median_before = df['horsepower'].median()
print(f"Median before: {median_before}")
mode_value = df['horsepower'].mode()[0]

df['horsepower_filled'] = df['horsepower'].fillna(mode_value)
median_after = df['horsepower_filled'].median()


print(f"Median after: {median_after}")

Median before: 149.0
Median after: 152.0

In [ ]:
"""
Q7. Sum of weights
Select all the cars from Asia
Select only columns vehicle_weight and model_year
Select the first 7 values
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Invert XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?
"""

asia_cars = df[df['origin'] == 'Asia']

asia_subset = asia_cars[['vehicle_weight', 'model_year']]

asia_top7 = asia_subset.head(7)

#Converting to a NumPy array
X = asia_top7.to_numpy()

y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])

# Computing X^T * X
XTX = X.T.dot(X)

#Invert XTX
XTX_inv = np.linalg.inv(XTX)

#Multiply step by step: (XTX_inv * X^T * y)
w = XTX_inv.dot(X.T).dot(y)

# 9. Find the sum of all elements of w
result = w.sum()
print(result)

0.5187709081074016